.footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, #000411, #030f14, #0e1615, #181a18, #1f1f1e);

    small {
        margin: 30px;
        color: aliceblue;
    }

    .redes a img {
        width: 30px;
        margin-left: 20px;
    }
}